// sass-lint:disable no-css-comments, mixins-before-declarations, no-vendor-prefixes, single-line-per-selector, force-pseudo-nesting, force-element-nesting, force-attribute-nesting, no-qualifying-elements, class-name-format

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/* (modified to suit site) */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  box-sizing: border-box;
  color: $text-clr;
  font-size: 100%; // Fallback for @include below. Set to browser default and then use ems when declaring your various font-sizes. (MR)
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: $selection;
  text-shadow: none;
}

::selection {
  background: $selection;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  border: 0;
  border-top: 1px solid $color-grey-6;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default button styles.
 */

button {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Skip link
-------------------------------------------------------------------*/
.skip-link {
  padding: 0.5rem;
  position: absolute;
  right: 100%;
  top: 0;
}

.skip-link:focus {
  left: calc(50% - 84px);
  right: auto;
}

/* Typography
  modification of
  (http://typecast.com/blog/a-more-modern-scale-for-web-typography)
------------------------------------------------------------------------------ */
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

/*
 * Keep line-length to around 45-55 characters.
 */
p,
blockquote,
li {
  max-width: 40rem;
}

h1,
.h1 {
  font-size: 2.5rem;
  line-height: 1.25;

  @include mq($M) {
    font-size: 2.75rem;
    line-height: 1.125;
  }

  @include mq($XL) {
    font-size: 3rem;
    line-height: 1.05;
  }
}

h2,
.h2 {
  font-size: 1.5rem;
  line-height: 1.15384615;

  @include mq($M) {
    font-size: 1.625rem;
    line-height: 1.25;
  }

  @include mq($XL) {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}

h3,
.h3 {
  font-size: 1.125rem;
  line-height: 1.13636364;

  @include mq($M) {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  @include mq($XL) {
    font-size: 1.375rem;
    line-height: 1.25;
  }
}

blockquote {
  font-size: 1.25rem;
  line-height: 1.25;

  @include mq($M) {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  @include mq($XL) {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}

/* Only set margins below primary text elements for more intuitive spacing
------------------------------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Images
-------------------------------------------------------------------*/
img {
  content-visibility: auto;
  display: block;
  height: auto;
  max-width: 100%;
}

/* SVGs
-------------------------------------------------------------------*/
svg {
  fill: currentColor;
  height: 1rem;
  width: 1rem;
}

/* Lists
------------------------------------------------------------------------------ */
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

li {
  padding: 0;
}

dl {
  line-height: 1.25;
  margin: 0;
  padding: 0 0 1em;
}

/* Forms
-------------------------------------------------------------------*/
label[for] {
  cursor: pointer;
}

/* Code formatting
------------------------------------------------------------------------------ */
pre {
  margin: 0;
}

code {
  background-color: $color-grey-2;
}

/* Disable CSS animations if user preference
-------------------------------------------------------------------*/
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important; // sass-lint:disable-line no-important
    transition: none !important; // sass-lint:disable-line no-important
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

[hidden],
.hidden {
  display: none !important; // sass-lint:disable-line no-important
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: ''; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
  Print styles.
  Inlined to avoid the additional HTTP request:
  http://www.phpied.com/delay-loading-your-print-css/
  ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important; // sass-lint:disable-line no-important
    box-shadow: none !important; // sass-lint:disable-line no-important
    color: $color-grey-2 !important; // sass-lint:disable-line no-important
    text-shadow: none !important; // sass-lint:disable-line no-important
  }

  body > *:not(main) {
    display: none;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid $color-grey-2;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
