// ===========================================================================
// ==== HELPER AND MODIFIER CLASSES
// ===========================================================================
.font-black {
  font-family: $font-black;
  font-weight: 900;
}

.font-bold {
  font-family: $font-med;
  font-weight: 700;
}

.font-italic {
  font-family: $font-med;
  font-style: italic;
}

.font-med {
  font-family: $font-med;
}
