// ===========================================================================
// ==== SHOW MQ BREAKPOINT IN BOTTOM RIGHT CORNER
// ===========================================================================

// Used for development only

body {
  &:before {
    background: $color-grey-4;
    bottom: 0;
    color: $color-grey-8;
    content: 'XS';
    font-size: 0.75rem;
    padding: 0.25em 0.5em;
    position: fixed;
    right: 0;
    z-index: 999;

    @include mq($S) {
      content: 'S';
    }
    @include mq($M) {
      content: 'M';
    }
    @include mq($L) {
      content: 'L';
    }
    @include mq($XL) {
      content: 'XL';
    }
    @include mq($XXL) {
      content: 'XXL';
    }
  }
}
