// ===========================================================================
// ==== VARIABLES
// ===========================================================================
@use 'sass:math';

// RESPONSIVE MEDIA QUERIES
// ------------------------------------------------------------------------------
$breakpoint-xs: 18.75em; // 300px
$breakpoint-s: 30em; // 480px
$breakpoint-m: 48em; // 768px
$breakpoint-l: 64em; // 1024px
$breakpoint-xl: 75em; // 1200px
$breakpoint-xxl: 90em; // 1440px

$XS: 'min-width:' + $breakpoint-xs;
$S: 'min-width:' + $breakpoint-s;
$M: 'min-width:' + $breakpoint-m;
$L: 'min-width:' + $breakpoint-l;
$XL: 'min-width:' + $breakpoint-xl;
$XXL: 'min-width:' + $breakpoint-xxl;

// FONTS
// ------------------------------------------------------------------------------
$font-med: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

// COLORS
// ------------------------------------------------------------------------------
$color-grey-1: rgb(17, 17, 17);
$color-grey-2: rgb(34, 34, 34);
$color-grey-3: rgb(66, 66, 66);
$color-grey-4: rgb(99, 99, 99);
$color-grey-5: rgb(128, 128, 128);
$color-grey-6: rgb(159, 159, 159);
$color-grey-7: rgb(187, 187, 187);
$color-grey-8: rgb(222, 222, 222);
$color-grey-9: rgb(238, 238, 238);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$red: #710000;
$yellow: #f7f71d;

$blue: #3da4ce;

// COLOR CONFIGS
// ------------------------------------------------------------------------------
$bg-clr: $color-grey-9;
$text-clr: $color-grey-2;
$link-clr: $color-grey-1;
$link-hover-clr: darken($link-clr, 20%);
$highlight-clr: $red;
$error: $red;
$selection: $yellow;

// SPACING
// ------------------------------------------------------------------------------
$container-width: 800px;
$space: 1.5rem; // 24px

$space-100: math.div($space, 8); // 2px
$space-200: math.div($space, 4); // 4px
$space-300: math.div($space, 2); // 8px
$space-400: $space * 0.75; // 12px
$space-500: $space; // 24px
$space-600: $space * 2; // 48px
$space-700: $space * 3; // 72px
$space-800: $space * 4; // 96px
$space-850: $space * 6; // 144px
$space-900: $space * 8; // 192px
