// ===========================================================================
// ==== VARIABLES
// ===========================================================================

// RESPONSIVE MEDIA QUERIES
// ------------------------------------------------------------------------------
$breakpoint-xs: 18.75em; // 300px
$breakpoint-s: 30em; // 480px
$breakpoint-m: 45em; // 720px
$breakpoint-l: 60em; // 960px
$breakpoint-xl: 75em; // 1200px
$breakpoint-xxl: 90em; // 1440px

$XS: 'min-width:' + $breakpoint-xs;
$S: 'min-width:' + $breakpoint-s;
$M: 'min-width:' + $breakpoint-m;
$L: 'min-width:' + $breakpoint-l;
$XL: 'min-width:' + $breakpoint-xl;
$XXL: 'min-width:' + $breakpoint-xxl;

// FONTS
// ------------------------------------------------------------------------------
$font-med: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

// COLORS
// ------------------------------------------------------------------------------
$white: #fff;
$black: #222;
$grey-lightest: #f0f0f0;
$grey-lighter: #eee;
$grey-light: #ccc;
$grey: #999;
$grey-dark: #666;
$text: #222;
$red: #f00;
$yellow: #f7f71d;

$blue: #3da4ce;

// COLOR CONFIGS
// ------------------------------------------------------------------------------
$bg-clr: $white;
$text-clr: $text;
$link-clr: $red;
$link-hover-clr: darken($link-clr, 20%);
$highlight-clr: $red;
$error: $red;
$selection: $yellow;

// SPACING
// ------------------------------------------------------------------------------
$container-width: 800px;
$space: 1.5rem;
$double-space: $space * 2;
$half-space: $space/2;
$quarter-space: $space/4;
$eighth-space: $space/8;
