.modal {
  background-color: $color-grey-1;
  max-width: 40rem;
  padding: $space-600;
  position: relative;
  width: 100%;

  &__close {
    height: 18px;
    position: absolute;
    right: $space-500;
    top: $space-500;
    width: 18px;
  }

  &__heading {
    color: $color-grey-2;
  }
}

.overlay {
  align-items: center;
  background-color: rgba($color-grey-2, 0.75);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}
