// ===========================================================================
// ==== HEADER
// ===========================================================================
.header {
  margin-bottom: $space-500;
  margin-top: $space-500;

  > .container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
