// ===========================================================================
// ==== HEADER
// ===========================================================================
.header {
  > .container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}