.button {
  background-color: transparent;
  border: 1px solid $color-grey-2;
  border-radius: 25px;
  color: $color-grey-2;
  line-height: 1;
  padding: $space/1.5 $space * 1.5;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s ease-out;

  &:focus,
  &:hover {
    background-color: $color-grey-2;
    color: $color-grey-1;

    .button__icon {
      fill: $color-grey-1;
    }
  }

  &--reversed {
    border-color: $color-grey-1;
    color: $color-grey-1;

    &:focus,
    &:hover {
      background-color: $color-grey-1;
      color: $color-grey-2;
    }
  }

  &--solid {
    background-color: $color-grey-1;
    color: $color-grey-2;

    &:focus,
    &:hover {
      background-color: $color-grey-2;
      color: $color-grey-1;
    }

    &.button--reversed {
      background-color: $color-grey-2;
      color: $color-grey-1;

      &:focus,
      &:hover {
        background-color: $color-grey-1;
        border-color: $color-grey-2;
        color: $color-grey-2;
      }
    }
  }

  span {
    display: inline-block;
    transform: translateY(2px);
  }

  &__icon {
    display: inline;
    height: 12px;
    margin-left: $space-200;
    transition: fill 0.2s ease-out;
    width: 12px;
  }
}
